//
// Icon Menu
//
// Stretchy flyout menu that utilizes
// flexbox and 3D transforms.
//
// @author  Daryn St. Pierre
// @website http://bloq.io
// @version 1.0.0
// @license WTFPL http://www.wtfpl.net/
//

// Base
$icon-menu-font-family: 			"Helvetica Neue", Helvetica, Arial, sans-serif;
$icon-menu-font-base-size: 			14px;

// Buttons
$icon-menu-link-font-size: 			0.8em;
$icon-menu-link-icon-size: 			2.5em;
$icon-menu-link-weight: 			600;
$icon-menu-bg: 						#333;
$icon-menu-bg-hover:	 			crimson;
$icon-menu-link-color: 				white;
$icon-menu-link-color-hover: 		white;
$icon-menu-link-letter-spacing: 	4px;
$icon-menu-link-padding:			1.3em;
$icon-menu-timing: 					0.3s;

// Menu Trigger
$icon-menu-trigger-color: 			white;
$icon-menu-trigger-color-hover: 	white;
$icon-menu-trigger-color-active: 	white;
$icon-menu-trigger-padding: 		1em;
$icon-menu-trigger-bg: 				#333;

// Content container
$icon-menu-shift-padding: 			5em;

// Breakpoints
$icon-menu-mq-mobile-xs: 			new-breakpoint(max-width 320px);
$icon-menu-mq-mobile-sm: 			new-breakpoint(max-width 480px);
$icon-menu-mq-mobile: 				new-breakpoint(max-width 640px);
$icon-menu-mq-tablet:				new-breakpoint(max-width 768px);
$icon-menu-mq-desktop:				new-breakpoint(max-width 1024px);
$icon-menu-mq-desktop-lrg:			new-breakpoint(max-width 1280px);

.icon-menu-shift {
	padding-top: $icon-menu-shift-padding !important;
}

.icon-menu-container {
	position: fixed;
	top: 0;
	left: 0;
	background-color: $icon-menu-trigger-bg;
	width: 100%;
	text-align: right;
	overflow: hidden;
	@include clearfix;
	@include box-sizing(border-box);
	@include transition(all 0.3s);
	@include transform(translate3D(0,-60%,0));

	&.active {
		@include transform(translate3D(0,0,0));
	}
}

.menu-toggle {
	display: block;
	color: $icon-menu-trigger-color;
	padding: $icon-menu-trigger-padding;
	overflow: hidden;
	text-decoration: none;
	@include transition(color $icon-menu-timing, font-size $icon-menu-timing, background-color $icon-menu-timing);

	i {
		@include transition(all $icon-menu-timing);
	}

	i.bt-bars {
		@include transform(translate3D(100%,0,0));
		opacity: 1;
	}

	i.bt-times-circle, i.bt-times {
		@include transform(translate3D(100%,0,0));
		opacity: 0;
	}

	&:hover {
		color: $icon-menu-trigger-color-hover;
	}

	&.active {
		background-color: black;
		color: rgba($icon-menu-trigger-color-active, 0.5);

		i.bt-bars {
			@include transform(translate3D(-100%,0,0));
			opacity: 0;
		}

		i.bt-times-circle, i.bt-times {
			@include transform(translate3D(0,0,0));
			opacity: 1;
		}
	}

	@include media($icon-menu-mq-tablet) {
		font-size: $icon-menu-font-base-size / 1.2;
	}

	@include media($icon-menu-mq-mobile) {
		font-size: $icon-menu-font-base-size / 1.6;
	}

	@include media($icon-menu-mq-mobile-xs) {
		font-size: $icon-menu-font-base-size / 1.8;
	}
}

.icon-menu {
	@include align-items(stretch);
	@include flex-direction(row);
	@include justify-content(center);
	@include display(flex);
	@include transform(translate3D(0,-100%,0));
	@include transition(all 0.3s);
	background-color: $icon-menu-bg;
	font-family: $icon-menu-font-family;
	font-size: $icon-menu-font-base-size;
	list-style: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased !important;
	   -moz-font-smoothing: antialiased !important;
			font-smoothing: antialiased !important;

	&.active {
		@include transform(translate3D(0,0,0));
	}

	&, li {
		margin: 0;
		padding: 0;
	}

	li {
		@include flex(1);
		@include transition(all 0.3s);

		&:hover, &:focus &:active {
			@include flex(1.15);
		}

		&.faded {

			a {
				opacity: 0.35;
				@include transform(scale(0.85));
			}
		}

		// $nth-count: 1...4;
		// @todo Finish this mixin.
		@mixin nth( $nth-count, $bg-color, $base-adjust, $color-function, $adjust-percentage ) {
			&:nth-child() {

			}
		}

		&:nth-child(1n) a:hover { background-color: adjust-hue($icon-menu-bg-hover, 25%); }
		&:nth-child(2n) a:hover { background-color: adjust-hue($icon-menu-bg-hover, 35%); }
		&:nth-child(3n) a:hover { background-color: adjust-hue($icon-menu-bg-hover, 45%); }
		&:nth-child(4n) a:hover { background-color: adjust-hue($icon-menu-bg-hover, 55%); }
	}

	a {
		background-color: $icon-menu-bg;
		display: block;
		padding: $icon-menu-link-padding;
		color: $icon-menu-link-color;
		text-decoration: none;
		text-align: center;
		font-weight: $icon-menu-link-weight;
		letter-spacing: $icon-menu-link-letter-spacing;
		opacity: 1;
		@include transition(all $icon-menu-timing);

		&:hover {
			background-color: $icon-menu-bg-hover;
			color: $icon-menu-link-color-hover;
		}
	}

	span, i {
		display: block;
		clear: both;
	}

	span {
		margin-top: 1em;
		padding-top: 1em;
		font-size: $icon-menu-link-font-size;
		text-transform: uppercase;
		border-top: 1px solid rgba(#fff, 0.25);
	}

	i {
		font-size: $icon-menu-link-icon-size;
	}

	//
	// Breakpoints
	//

	@include media($icon-menu-mq-mobile-sm) {
		span {
			display: none;
		}

		.menu-toggle {
			font-size: $icon-menu-font-base-size / 1.4;
		}
	}

	@include media($icon-menu-mq-tablet) {
		font-size: $icon-menu-font-base-size / 1.2;
	}

	@include media($icon-menu-mq-mobile) {
		font-size: $icon-menu-font-base-size / 1.4;
	}

	@include media($icon-menu-mq-mobile-xs) {
		font-size: $icon-menu-font-base-size / 1.8;
	}

}