// Normalize
@import 'normalize';

// Bourbon + Neat
@import 'bourbon/bourbon';
@import 'neat/neat';

// Black Tie
@import 'black-tie/black-tie';

// Icon Menu
@import 'icon-menu';

// Example Styles
html, body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #eee;
	font: normal 16px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #444;
}

body > section {

	> header {

	}

	> .content {
		max-width: 960px;
		margin: 0 auto;
		padding: 2em;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased !important;
		   -moz-font-smoothing: antialiased !important;
				font-smoothing: antialiased !important;
	}
}